body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  margin-bottom: 4rem;
}

#start-btn {
  padding: 1rem;
  width: 12rem;
  height: 2rem;
  background-color: white;
  text-align: center;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#start-btn:hover {
  background-color: beige;
  cursor: pointer;
}

#game-board {
  margin-top: 6rem;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

td {
  border: solid 2px white;
  height: 10rem;
  width: 10rem;
  text-align: center;
  font-size: 5rem;
  color: white;
}

#cell-0 {
  border-left: none;
  border-top: none;
}

#cell-1 {
  border-top: none;
}

#cell-2 {
  border-right: none;
  border-top: none;
}

#cell-3 {
  border-left: none;
  border-top: none;
}

#cell-5 {
  border-right: none;
}

#cell-6 {
  border-left: none;
  border-bottom: none;
}

#cell-7 {
  border-bottom: none;
}

#cell-8 {
  border-right: none;
  border-bottom: none;
}
